[FORMAT]
2.0

[THREAD MODEL]
Serial

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[MESH FILE]
BOX

[MESH DIMENSION]
3

[ELEMENT TYPE] # number of edges
12

[BOX GLOBAL NX]
80

[BOX GLOBAL NY]
80

[BOX GLOBAL NZ]
80

[BOX BOUNDARY FLAG]
1
