[FORMAT]
2.0

[THREAD MODEL]
Serial

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[MESH FILE]
BOX

[MESH DIMENSION]
3

[ELEMENT TYPE] # number of edges
6

[BOX GLOBAL NX]
40

[BOX GLOBAL NY]
40

[BOX GLOBAL NZ]
40

[BOX BOUNDARY FLAG]
1
