[FORMAT]
2.0

[THREAD MODEL]
Serial

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[MESH FILE]
BOX

[MESH DIMENSION]
2

[ELEMENT TYPE] # number of edges
3

[BOX GLOBAL NX]
500

[BOX GLOBAL NY]
400

[BOX GLOBAL NZ]
200

[BOX BOUNDARY FLAG]
1

[PARADOGS PARTITIONING]
SPECTRAL
