[FORMAT]
2.0

[MESH FILE]
BOX

[MESH DIMENSION]
2

[ELEMENT TYPE] # number of edges
3

[BOX NX]
100

[BOX NY]
100

[BOX NZ]
200

[BOX BOUNDARY FLAG]
1

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

