[FORMAT]
2.0

[THREAD MODEL]
Serial

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[MESH FILE]
tests/FenceTri2D.msh

[MESH DIMENSION]
2

[ELEMENT TYPE] # number of edges
3

[PARADOGS PARTITIONING]
SPECTRAL
